body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	/*background: linear-gradient(to bottom,  #fff 0%, #eee 100%);
	font-size: 4em;
	height: 100vh;
	.content{
		margin: 30% auto;
		text-align: center;
		a{
			color: gray;
			text-decoration: none !important;
			.glyphicon{
				transition: all .5s;
				&.glyphicon-heart{
					color: #e74c3c;
				}
				&.glyphicon-heart-empty{
					&:hover{
						transform:scale(1.1);
					}
				}
			}
		}
	}*/
}

h1 {
	font-weight: 700;
	color: #0EBB45;
}

.jumbotron {
	background-color: #0EBB45;
	color: white;
}

#first {
	background-image: url(../img/background2.jpg);
	background-position: center;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 25px;
}

#second {
	text-align: left;
}

footer{
	background-color: #0EBB45;
	background-size: cover;
	color: white;
	padding-top:	10px;
	padding-bottom:	10px; 
}
@import "~bootstrap/dist/css/bootstrap.css"
