<div class="container-fluid">
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>

      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is Required</p>
      </div>

      <!-- Display {{newQuote.name}} -->
    </div>
    <div class="form-group">
      <label for="by">Quoted by:</label>
      <input type="text" class="form-control" id="by" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required>
      <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
        <p>Description is Required</p>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg btn-block">Quote</button>
  </form>
</div>
